---
import type { SiteMeta } from 'astro-pure/types'
import config, { analytics } from '@/site-config'

type Props = SiteMeta

const { articleDate, description, ogImage, title } = Astro.props

const siteTitle = `${title} ${config.titleDelimiter} ${config.title}`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = ogImage ? new URL(ogImage, Astro.url).href : undefined
const enableAnalytics = analytics.enabled && import.meta.env.PROD
---

<meta charset='utf-8' />
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

{/* Icons / Favicon */}
<link rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png' />
<link rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png' />
<link rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png' />
<link rel='manifest' href='/favicon/site.webmanifest' />

{/* Font preloads */}
<link rel='preload' href='/fonts/Satoshi-Variable.woff2' as='font' type='font/woff2' crossorigin />
<link rel='prefetch' href='/fonts/Satoshi-VariableItalic.woff2' crossorigin />

{/* CDN preconnect */}
{config.npmCDN && <link rel='dns-prefetch' href={new URL(config.npmCDN).origin} />}
{config.npmCDN && <link rel='preconnect' href={new URL(config.npmCDN).origin} crossorigin />}

{/* Canonical URL */}
<link rel='canonical' href={canonicalURL} />

{/* Primary Meta Tags */}
<meta content={siteTitle} name='title' />
<meta content={description} name='description' />
<meta content={config.author} name='author' />

{/* Theme Color */}
<meta content='#FCFCFF' name='theme-color' media='(prefers-color-scheme: light)' />
<meta content='#0D1117' name='theme-color' media='(prefers-color-scheme: dark)' />

{/* Open Graph / Facebook */}
<meta content={articleDate ? 'article' : 'website'} property='og:type' />
<meta content={title} property='og:title' />
<meta content={description} property='og:description' />
<meta content={canonicalURL} property='og:url' />
<meta content={config.title} property='og:site_name' />
<meta content={config.locale.attrs} property='og:locale' />
{socialImageURL && (
  <>
    <meta content={socialImageURL} property='og:image' />
    <meta content='1200' property='og:image:width' />
    <meta content='630' property='og:image:height' />
  </>
)}
{
  articleDate && (
    <>
      <meta content={config.author} property='article:author' />
      <meta content={articleDate} property='article:published_time' />
    </>
  )
}

{/* Twitter */}
<meta content={socialImageURL ? 'summary_large_image' : 'summary'} property='twitter:card' />
<meta content={canonicalURL} property='twitter:url' />
<meta content={title} property='twitter:title' />
<meta content={description} property='twitter:description' />
{socialImageURL && <meta content={socialImageURL} property='twitter:image' />}

{/* JSON-LD Structured Data */}
<script
  is:inline
  type='application/ld+json'
  set:html={JSON.stringify({
    '@context': 'https://schema.org',
    '@type': 'WebSite',
    name: config.title,
    url: Astro.site?.href,
    description: config.description,
    inLanguage: config.locale.attrs,
    author: {
      '@type': 'Person',
      name: config.author
    }
  })}
/>
{
  articleDate && (
    <script
      is:inline
      type='application/ld+json'
      set:html={JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'Article',
        headline: title,
        description: description,
        image: socialImageURL,
        datePublished: articleDate,
        inLanguage: config.locale.attrs,
        mainEntityOfPage: canonicalURL.href,
        author: {
          '@type': 'Person',
          name: config.author
        },
        publisher: {
          '@type': 'Person',
          name: config.author
        }
      })}
    />
  )
}

{/* Sitemap */}
<link href='/sitemap-index.xml' rel='sitemap' />

{/* RSS auto-discovery */}
<link
  rel='alternate'
  type='application/rss+xml'
  title={config.title}
  href={`${Astro.site}rss.xml`}
/>

<meta content={Astro.generator} name='generator' />

{/* Analytics (production only, configured in src/site.config.ts) */}
{enableAnalytics && <script is:inline async defer src={analytics.src} {...analytics.attrs} />}

{/* Styles */}
<link rel='stylesheet' href='/styles/global.css' />

